.detail-card {
	margin: auto;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.detail-card-header {
	font-size: 20px;
	font-weight: 400;
	margin: 20px;
}

.detail-volume {
	margin: 30px;
}

.score {
	font-size: 18px;
	margin-left: 4px;
}

.empty-detail-card-card {
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	margin: 20px;
	display: block;
	justify-content: center;
	align-items: center;
}
