.App{
  justify-content: center;
}

.word-cloud-container {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
}

.word-cloud {
  width: 75%;
  height: 100%;
  margin: auto;
}

.detail-card  {
  width: 25%;
  height: 100%;
  border-left: 2px dotted gray;
}