.App{
  justify-content: center;
}

.word-cloud-container {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
}

.word-cloud {
  /* background-color: red; */
  width: 75%;
  height: 100%;
}

.info-box {
  /* background-color: orange; */
  width: 25%;
  height: 100%;
}
